In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [23]:
driver = webdriver.Chrome("chromedriver.exe")

- Question 1

In [24]:
url = 'https://www.naukri.com/'
driver.get(url)

In [25]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [26]:
search_job.send_keys("Data Analyst")

In [27]:
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys('Banglore')

In [28]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [29]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]


title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_title.append(i.text)
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst,1',
 'Junior Data Analyst',
 'Data Analyst',
 'Network Design & Data Analyst',
 'Advanced Business Analyst I - Data Analytics',
 'Advanced Business Analyst II - Data Analytics',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Lead Data Analyst',
 'Senior Data Analyst Python, ML - Bangalore',
 'Data analysts',
 'Data Analyst',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Consultant - Data Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Senior Data Analyst']

In [30]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    job_location.append(i.text)
job_location

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sector 2 HSR Layout)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru, Bangalore',
 'Bangalore/Bengaluru',
 'Lucknow, Bangalore/Bengaluru',
 'Coimbatore, Bangalore/Bengaluru, Trivandrum/Thiruvananthapuram',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [31]:
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name

['Inflexion Analytix Private Limited',
 'Epsilon',
 '(192 Reviews)',
 'Simplilearn',
 '(152 Reviews)',
 'Flipkart',
 '(3391 Reviews)',
 'Dell International Services India Private Limited',
 '(1775 Reviews)',
 'Novo Nordisk India',
 '(367 Reviews)',
 'Novo Nordisk India',
 '(367 Reviews)',
 'Aritha Consulting Services Pvt. Ltd.',
 'Publicis Groupe',
 '(64 Reviews)',
 'Novel Office',
 'CoinSwitch.co',
 'Harman Connected Services Corporation India Pvt.',
 '(595 Reviews)',
 'European Company',
 '2coms',
 'IBM India Pvt. Limited',
 '(9977 Reviews)',
 'CARNATION INFOTECH PRIVATE LIMITED',
 'Mind Circus Innovation',
 'Flipkart Internet Private Limited',
 '(3391 Reviews)',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 '(5 Reviews)',
 'Harman Connected Services Corporation India Pvt.',
 '(595 Reviews)']

In [32]:
len(company_name)

32

In [33]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    experience_required.append(i.text)
experience_required

['0-3 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '0-2 Yrs',
 '7-12 Yrs',
 '8-13 Yrs',
 '2-4 Yrs',
 '6-8 Yrs',
 '0-3 Yrs',
 '4-9 Yrs',
 '5-7 Yrs',
 '10-20 Yrs',
 '2-7 Yrs',
 '5-10 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '10-15 Yrs',
 '2-7 Yrs']

In [34]:
Data_Analyst_jobs=pd.DataFrame({})
Data_Analyst_jobs['job_title']=job_title[0:10]
Data_Analyst_jobs['job_location']=job_location[0:10]
Data_Analyst_jobs['company_name']=company_name[0:10]
Data_Analyst_jobs['experience_required']=experience_required[0:10]
Data_Analyst_jobs

,job_title,job_location,company_name,experience_required
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,"Data Analyst,1",Bangalore/Bengaluru,Epsilon,0-2 Yrs
2,Junior Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),(192 Reviews),0-2 Yrs
3,Data Analyst,Bangalore/Bengaluru,Simplilearn,3-8 Yrs
4,Network Design & Data Analyst,Bangalore/Bengaluru,(152 Reviews),0-2 Yrs
5,Advanced Business Analyst I - Data Analytics,Bangalore/Bengaluru,Flipkart,7-12 Yrs
6,Advanced Business Analyst II - Data Analytics,Bangalore/Bengaluru,(3391 Reviews),8-13 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Dell International Services India Private Limited,2-4 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,(1775 Reviews),6-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,Novo Nordisk India,0-3 Yrs

- Question 2

In [35]:
driver=webdriver.Chrome("chromedriver.exe") 
url = "https://www.naukri.com/"
driver.get(url)


search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_designation.send_keys("Data Scientist")

search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_location.send_keys("Bangalore")

search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [36]:
job_title=[]
job_location=[]
company_name=[]
job_description=[]

titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    job_title.append(i.text)
job_title

['Ignitarium is hiring For Senior Data Scientist, Bangalore / Kochi',
 'Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Senior Data Scientist For advisory/ teaching/ projects role Remote',
 'Senior Data Scientist',
 'Sr. Data Scientist',
 'Sr . Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'NielsenIQ Applied Data Scientist (Azure/Python/Spark)',
 'Data Scientist II',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [37]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    job_location.append(i.text)
job_location

['Kochi/Cochin, Ernakulam, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [38]:
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name

['Ignitarium Technology Solutions Private Limited',
 '(13 Reviews)',
 'Inflexion Analytix Private Limited',
 'Flipkart Internet Private Limited',
 '(3391 Reviews)',
 'Shikvix LLC',
 'Qburst Technologies Pvt Ltd',
 '(84 Reviews)',
 'Neustar MarketShare',
 '(16 Reviews)',
 'Target Corporation India Pvt Ltd',
 '(245 Reviews)',
 'Gojek Tech',
 'GO-JEK India',
 '(6 Reviews)',
 'Flipkart Internet Private Limited',
 '(3391 Reviews)',
 'bd',
 '(44 Reviews)',
 'Cardinal Drugs Ltd.',
 'NielsenIQ',
 '(19 Reviews)',
 'ANI Technologies Pvt Ltd (Olacabs)',
 '(1218 Reviews)',
 'NHANCENOW',
 '(2 Reviews)',
 'Neustar MarketShare',
 '(16 Reviews)',
 'Fujitsu Consulting India Pvt. Ltd.',
 '(654 Reviews)',
 'Bigshyft Hiring for Bidgely',
 'Oracle India Pvt. Ltd.',
 '(1921 Reviews)',
 'IBM India Pvt. Limited',
 '(9977 Reviews)']

In [39]:
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        job_description.append(description[0])
    except NoSuchElementException :
        job_description.append("---")
job_description

['Senior Data Scientist\n\nPlease find the JD below:\nData Engineering experience using Python.\nExperience in NumPy, Scikit-learn, Scipy, Pandas etc.\nHand on experience in classification, regression, clustering, machine learning algorithms.\nWorking experience with any of the object-oriented/object function scripting languages: Python, Java, Scala, Shell, .NET scripting.\nExperience in any of the cloud platforms like AWS, Azure, GCP\n\nLet me know your interest. Please mail your profile to arathy.rajkumar@ignitarium.com',
 "Job description\n\nJob Role: Data Scientist/Data Analyst /Business Analyst\n\nLocation: Chennai/Bangalore/Hyderabad\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7 Pm\n\nKoodesh B- +91 73395 11107\nManigandan B - +91 93444 57360\n\nEmail :\n\ncareerguidance.koodes@centerforaia.com\nmanigandan@centerforaia.com\n\nWhat is needed from you?\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nEducational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\nSelection procedure includes\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\nCandidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms, and solutions\nUnderstanding/implementation of ML algorithms, performance tuning, and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data into a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation, and transformation\nIdentification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion",
 'About the team\nThe Data Sciences team at Flipkart is on a mission to build systemic intelligence across Flipkart products and the overarching ecosystem. Being India’s largest online marketplace and the most used e-commerce app in India, places Flipkart in a unique position and gives this team a distinctive opportunity — to decipher the richest possible data about Indian consumers. Add the dimension of a vast product selection and a proliferating seller base to that and what you get is a multitude of disruptive possibilities.\nIn a nutshell, the terabytes of daily data compounded in Flipkart’s data centres offer a dynamic mix of numerical, structured, unstructured, image- and audio-based statistics, all set to define shopping in the future.\nAt Flipkart, the work of a Data Scientist involves collaboration with the engineering and product teams to ensure a holistic outcome at the product delivery. The flat functional structure within Flipkart engineering enables data scientists to focus on excellence and create a deep sense of ownership at every stage of work.\nIf you aspire to redefine ‘state-of-the-art’ and create an impact on India’s online shopping landscape, Flipkart’s Data Science team can offer you the right podium to solve challenging real-world problems and take a giant leap in your career as a Data Scientist.\nAbout the role\nA Data Scientist in Flipkart is required to develop and implement ML or statistical models for the various projects formulated from business and product views. The responsible person should be able to communicate and collaborate with multiple stakeholders representing various teams to better understand the problem at hand. At a fundamental level, the responsible person should be able to dive deep into a problem statement and extract interesting insights as well as solutions. In addition to being a quick learner, a DS is expected to get involved in active research projects with a view to publish them.\nWhat you’ll do\nUnderstand Business and product needs and use ML or statistical techniques to provide solutions to those in a time bound fashion.\nCommunicate and collaborate with business and product teams to have a better understanding of the project so as to be able to drive it within the DS team.\nGet involved in in-depth exploration of solutions using various methods and extract statistical insights from data as well as models, which are to be shared with business and product teams.\nActive participation in working with new methods and learning new technologies, both in the area of data science and data engineering.\nWhat you’ll need:\nB.Tech or M.Tech in CS or Statistics with experience ranging from 0 to 5 years through publications/deployed solutions/projects.\nDeep understanding of the algorithms (theory and application) that they have worked on.\nGood grasp on the theory and practise of basic statistical models such as regression or clustering and general ML algorithms such as tree, Random Forests, SVM, Boosting, Neural Networks etc. It is not expected that the candidate has actually worked on all these modules.\nStrong proficiency in Python or R is necessary.\nSkills Required :\nUnderstanding of text representation techniques\nDesirable Skills :\nFamiliarity with Big Data frameworks – Spark, Hadoop',
 "Seeking senior data scientists for part-time roles that involve advising or teaching or working on various projects.\n\nThe candidate must have experience in Python coding language and machine learning. The candidate will be working on a part-time basis and hours will be flexible based on the candidate's availability.\n\nOpportunity to grow in a startup setting.\n\nWhat you'll need:\nB.Tech in CS or Statistics with demonstrable experience of over 5 years through publications/deployed solutions/projects.\nM.Tech or Ph.D. in CS or Statistics with demonstrable experience of over 3 years through publications/deployed solutions/projects.\nA deep understanding of applied statistical analysis and predictive modeling is desired.\nThe candidate must have a thorough grasp of the theory and application of broad ML algorithms namely, but not limited to regression, SVM, Tree, Random Forests, Boosting, Neural Network, clustering, forecasting, deep learning, text analysis, etc.\nIt is not expected that the candidate has actually worked on all these modules.\nStrong proficiency in Python or R is necessary\n\nPlease Note:\nOne of our primary contact methods is the WhatsApp messenger service. Please make sure your primary contact on the Naukri profile is also your WhatsApp contact information. If you are unable to make that change please email us your resume and WhatsApp contact information at hiring@shikvix.com. Thank you!",
 'We are looking for a Data Scientist who will support our customers and product development initiatives in advanced machine learning projects. The ideal candidate is good at working with numbers and has an interest in engineering mathematics, probability and statistics. The candidate should have strong programming skills and is adept at deep learning and statistical machine learning concepts.  Responsibilities\nWork with stakeholders throughout the organization to understand requirements\nDefine architecture for machine learning projects considering the best case scenarios and trade-offs\nExplore research papers to come up with the best models and algorithms that can solve a given problem\nGather, clean, and annotate data for training machine learning models\nBuild tools to facilitate training data generation and accelerate the annotation process\nBuild predictive model pipelines based on available research and deploy them\nCustomize model architectures to suit various problems\nDefine quantitative metrics and assess the effectiveness and accuracy of models to find the best fit one\nDeploy the models in cloud or on-premise infrastructure, and scale the model to achieve the required throughput\nRequirements\nStrong programming skills in one or more languages\nExperience in designing and implementing machine learning pipelines in production in at least one industry domain\nHands on experience in data collection, cleansing, and labelling. Clarity on approaches to minimize manual effort in these, and related best practices\nGood knowledge in Natural Language Processing, Computer Vision, Audio processing and other applications of Deep learning. Handson experience with the state of the art models in any one\nGood understanding of engineering mathematics, probability and statistics\nAbility to read through latest research papers in required domains and understand the concepts behind model architectures enough to modify them\nIn-depth knowledge in statistical machine learning. Clear understanding on selection of algorithms suitable for a given problem',
 'Responsibilities:\nAlgorithm Development: Develop a deep understanding of all the data relevant to the problem to be addressed. Establish deterministic and probabilistic linkages between data sources and develop ways to extract and summarize the sought information in the data using a wide variety of statistical, data mining and machine learning techniques.\nPrototyping: Create prototypes of models and algorithms to perform the analysis at scale, provide documentation and help educate your colleagues in different function about the solution.\nSupport Implementation: Closely work with product, engineering and client teams to incorporate Data Science capabilities into Neustar s products and services.\nExperience and Qualifications:\nSr. Data Scientist A PhD in an analytical field such as computer science, machine learning, data science, statistics, physics and/or engineering, or a Master s degree in a related field with minimum 3 to 5 years of experience.\nExperience in Privacy, Ad fraud, Risk is good to have/will be preferred.\nMinimum 5 years of experience with Python, Scala and SQL, and one or more enterprise level programming languages such as Java or Scala.\nMinimum 2 years of hands-on experience with Linux-based cloud systems such as AWS and GCP.\nMinimum 2 years of experience with wrangling large (terabytes) event level datasets.\nAcademic or industrial experience in privacy-preserving analytics on large datasets preferred.\nSome experience writing code for highly distributed systems such as Apache Spark,SCALA and Hive.\nSeveral years of experience engineering features for machine learning models from raw data.\nBackground in applying optimization theory to real-world problems.\nAbility to modify cost functions in machine learning algorithms based on business problems.\nSome experience with JAX, TensorFlow or PyTorch .\nExcellent oral and communication skills.\nAbility and experience working in a cross-functional environment.',
 'A role with the Target Data Science and Analytics team means building scalable data science products in support of the ever-changing supply chain landscape. This will mean being more intelligent, automated and algorithmic in our\ndecision-making. Evaluating product flow from vendor to distribution center and to the stores across the first mile, middle mile and last mile, with focus on inventory modeling and replenishment, to improve operating efficiencies both within 4 walls of distribution center and across the network.\nSo, we are looking for exceptional people who are proactive, creative, independent, innovative and comfortable working in varying degrees of ambiguity. Are you a creative problem-solver who seeks root cause, simplifies problems, quickly\nidentifies solutions, commits to a plan and then positively influences others to execute itIf so, you will have success on\nthis dynamic team.\nPrimary responsibilities\nDevelop a strong understanding of Target supply chain and logistics data and work on analytical projects supporting\nfirst, middle and last mile delivery. The role involves working closely with clients and internal teams to deliver high\nquality, end-to-end analytical solutions that create strong business impact.\nWork hands on and actively partner across the team defining business problem, data discovery to insights/predictions\nUnderstand the business problem, identify the key challenges, formalize the problem algorithmically, and prototype\nsolutions\nAnticipate and Evaluate impact of analytical solutions on related projects as part of the developing complex analytical algorithm/solutions for various business problems\nWork with data engineers on data quality assessment, data cleansing and data analytics.\nPerform exploratory and targeted data analyses using descriptive statistics and other methods\nAbility to develop and deploy scalable and reproducible analytical models for answering variety of business problems\nBuild self-service tools for error detection, diagnosis and predictive metrics.\nWork on developing optimization / statistical / Discrete event simulation models to answer problems for replenishment,\ninventory positioning/planning, product flow etc\nAbility to test and analyze the prototype results on Target data, actively engage with business partners to identify\nimprovement areas and implement enhancements based on statistical analysis and business logic\nGenerate analyses, annotated code, and other project artefacts to document, archive, and communicate work and\noutcomes.\nQualifications\nMaster s degree in Quantitative disciplines (Science, Technology, Engineering, Mathematics) or equivalent experience\nfrom a reputed tier 1 education institutes like IITs, ISI, IISc etc.\n5-8 years of relevant experience\nGood Knowledge and experience developing optimization, simulation and statistical models,\nStrong analytical thinking skills. Ability to creatively solve business problems, innovating new approaches where\nrequired.\n\nBackground in supply chain will be preferable but not mandatory\nStrong hands on programming skills in Python, SQL, Hadoop/Hive. Additional knowledge of Spark, Scala, R, Java\ndesired but not mandatory\n\nGood working Knowledge of Mathematical and statistical concepts, MILP, algorithms and computational complexity,\ndata analysis, data mining, forecasting/predictive modeling, simulations, visualizations, machine learning, etc.\nPassion for solving interesting and relevant real-world problems using Data science approach Experience in implementing advanced statistical techniques like regression, clustering, PCA, forecasting (time series)\netc.\n\nAble to produce reasonable documents/narrative suggesting actionable insights\nExcellent communication skills\nSelf-driven and results oriented. Willing to stretch to meet tight timelines.\nStrong team player with ability to collaborate effectively across geographies/ time zones',
 'As our Lead Data Scientist, youll be an integral player in the Marketplace Data Science team based in Bengaluru. With the latest cutting-edge data science tech at your disposal, youll focus your efforts on bringing our Marketplace systems (i.e. supply, demand, and pricing) to the next level. Employing various quantitative techniques such as Machine Learning, Optimization, Simulation, and Bayesian Techniques, youll drive asymmetric values for our businesses at Gojek. Youll be heavily involved in ideation, research, and building prototypes, and the folks in the Data Science Platform will bring your models to production. Your efforts will directly influence the stability and scalability of Gojeks Marketplace stream, and thus to companys top and bottom line as a whole. \n\nWhat You Will Do\nWork with Data Scientists, Machine Learning Engineers, and Business users to build, deploy, and scale Data Science solutions on match-making, supply, pricing problems in Gojek that touch the company s baseline\nUse your experience in Data Science, Machine Learning, Software Engineering, distributed systems to develop these systems, and work with the platform team to take the systems to production\nWork with Business teams to continuously refine and improve the systems to cater to ever-changing Gojek needs\nDesign and develop world class Data Science solutions to enhance the current stack of Marketplace algorithms for supply, demand, pricing\nWhat You Will Need\nAt least 9 years of experience as a Data Scientist or Machine Learning Engineer, with experience in Python, Golang/Java, and Unix\nA Bachelors Degree in Computer Science, Statistics, Operations Research, or a relevant quantitative field\nSolid knowledge of Data Science and Machine Learning fundamentals, with proven experience formulating Data Science solutions to business problems\nProven ability to recognize business needs and to communicate with multiple stakeholders within the Product Management, Business and Operations teams\nExperience in taking Data Science models to production\nPrior academic or industry work experience with forecasting methods like auto-regressive models, Markov models, and Kernel-based methods\nPrior experience with simulations for modeling the stochastic nature of marketplace supply and demand, and knowledge of the transportation and mobility space\n ',

In [40]:
Data_scientist_jobs=pd.DataFrame({})
Data_scientist_jobs['job_title']=job_title[0:10]
Data_scientist_jobs['job_location']=job_location[0:10]
Data_scientist_jobs['company_name']=company_name[0:10]
Data_scientist_jobs['job_description']=job_description[0:10]
Data_scientist_jobs

,job_title,job_location,company_name,job_description
0,Ignitarium is hiring For Senior Data Scientist...,"Kochi/Cochin, Ernakulam, Bangalore/Bengaluru",Ignitarium Technology Solutions Private Limited,Senior Data Scientist\n\nPlease find the JD be...
1,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",(13 Reviews),Job description\n\nJob Role: Data Scientist/Da...
2,Data Scientist,Bangalore/Bengaluru,Inflexion Analytix Private Limited,About the team\nThe Data Sciences team at Flip...
3,Senior Data Scientist For advisory/ teaching/ ...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Flipkart Internet Private Limited,Seeking senior data scientists for part-time r...
4,Senior Data Scientist,Bangalore/Bengaluru,(3391 Reviews),We are looking for a Data Scientist who will s...
5,Sr. Data Scientist,Bangalore/Bengaluru,Shikvix LLC,Responsibilities:\nAlgorithm Development: Deve...
6,Sr . Data Scientist,Bangalore/Bengaluru,Qburst Technologies Pvt Ltd,A role with the Target Data Science and Analyt...
7,Lead Data Scientist,Bangalore/Bengaluru,(84 Reviews),"As our Lead Data Scientist, youll be an integr..."
8,Lead Data Scientist,Bangalore/Bengaluru,Neustar MarketShare,"As our Lead Data Scientist, youll be an integr..."
9,Senior Data Scientist,Bangalore/Bengaluru,(16 Reviews),About the role\nA Senior Data Scientist in Fli...

- Question 3

In [41]:
driver=webdriver.Chrome("chromedriver.exe") 

url = "https://www.naukri.com/"
driver.get(url)

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")   
search_field_designation.send_keys("Data Scientist")


search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()



job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [42]:
location_button=driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i")
location_button.click()

In [43]:
salary_button=driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
salary_button.click()

In [44]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    job_title.append(i.text)
    
    
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    job_location.append(i.text)
    

companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
        
        
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    experience_required.append(i.text)
    
    

Data_scientist_jobs=pd.DataFrame({})
Data_scientist_jobs['job_title']=job_title[0:11]
Data_scientist_jobs['job_location']=job_location[0:11]
Data_scientist_jobs['company_name']=company_name[0:11]
Data_scientist_jobs['experience_required']=experience_required[0:11]
Data_scientist_jobs

,job_title,job_location,company_name,experience_required
0,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
1,We are hiring- Data Scientist- Noida,Delhi / NCR,RANDSTAD INDIA PVT LTD,3-7 Yrs
2,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Greater Noida, Delhi / NCR",(1146 Reviews),0-0 Yrs
3,Senior Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",GABA Consultancy services,3-6 Yrs
4,Team Leader Operations/Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",inVentiv International Pharma Services Pvt. Ltd.,2-5 Yrs
5,Data Scientist,New Delhi,(28 Reviews),4-8 Yrs
6,Data Scientist (Early Joiner),Noida(Sector-59 Noida),Optimint Solutions Pvt. Ltd.,4-8 Yrs
7,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,(26 Reviews),2-6 Yrs
8,Advanced Analytics -Data Scientist,"New Delhi, Hyderabad/Secunderabad",PredictiVu,3-7 Yrs
9,Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",R Systems International Ltd.,3-6 Yrs
10,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",(311 Reviews),4-6 Yrs

- Question 4

In [45]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [46]:
import requests
page = requests.get('https://www.glassdoor.co.in/index.htm')
page

- As I am not getting response 200, So I didn't attempt this question

- Question 5

In [65]:
import time
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [66]:
# Now entering “Data Scientist” in “SJob Title, Keywords or Company” field and enter “Noida” in “location” field.

search_field_designation=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[1]//div[1]//input")  #job search bar
search_field_designation.send_keys("Data Scientist")

time.sleep(2)
# clearing job location search_bar
from selenium.webdriver.common.keys import Keys
for i in range(9):
    driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input").send_keys(Keys.BACK_SPACE)

#location search bar
search_field_location=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input")  
search_field_location.send_keys("Noida")

time.sleep(2)
# Select salary option
option = driver.find_element_by_xpath("//div[@class='selectedLabel']")
option.click()
time.sleep(2)
salary_option = driver.find_element_by_xpath("//div[@class='dropDownOptionsContainer']//ul//li[3]")
salary_option.click()

time.sleep(2)
# clicking the search button
search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()

# creating empty lists for scraping data
company_name=[]
min_salaries=[]
max_salaries=[]
average_salaries=[]
no_of_salaries=[]

In [68]:
companies=driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum',
 'Optum Global Solutions',
 'ZS Associates',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'OYO',
 'Nagarro',
 'dunnhumby',
 'Vidooly Media Tech',
 'Tech Mahindra',
 'Bharti Airtel',
 'R Systems']

In [69]:

min_salary=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[1]")
for i in min_salary:
    min_salaries.append(i.text)
min_salaries

['₹6L',
 '₹3L',
 '₹6L',
 '₹5L',
 '₹4L',
 '₹8L',
 '₹5L',
 '₹6L',
 '₹8L',
 '₹4L',
 '₹2L',
 '₹6L',
 '₹8L',
 '₹10L',
 '₹4L',
 '₹8L',
 '₹12T',
 '₹4L',
 '₹6L',
 '₹8L']

In [70]:
max_salary=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[2]")
for i in max_salary:
    max_salaries.append(i.text)
max_salaries

['₹27L',
 '₹13L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹15L',
 '₹15L',
 '₹20L',
 '₹22L',
 '₹18L',
 '₹17L',
 '₹13L',
 '₹19L',
 '₹16L',
 '₹20L',
 '₹63T',
 '₹17L',
 '₹29L',
 '₹30L']

In [71]:
avg_salary=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']/h3")
for i in avg_salary:
    no_of_salaries.append(i.text)
no_of_salaries

['₹9,00,000',
 '₹6,15,289',
 '₹11,63,336',
 '₹12,18,244',
 '₹7,39,238',
 '₹13,00,000',
 '₹8,63,750',
 '₹11,10,000',
 '₹14,23,677',
 '₹13,28,697',
 '₹11,42,356',
 '₹12,09,040',
 '₹10,09,021',
 '₹12,58,227',
 '₹9,92,632',
 '₹10,55,478',
 '₹34,157',
 '₹10,54,402',
 '₹16,00,000',
 '₹18,40,134']

In [72]:
rating=driver.find_elements_by_xpath("//div[@class='d-flex align-items-center mt-xxsm']/span[1]")
for i in rating:
    average_salaries.append(i.text)
average_salaries

['3.9',
 '3.9',
 '4',
 '3.9',
 '4',
 '3.6',
 '4.2',
 '3.6',
 '3.7',
 '3.9',
 '4',
 '3.8',
 '3.8',
 '3.3',
 '4',
 '4.1',
 '3.7',
 '3.6',
 '3.8',
 '3.5']

In [73]:

Data_scientist_salaries=pd.DataFrame({})
Data_scientist_salaries['company name']=company_name[0:11]
Data_scientist_salaries['min_salary']=min_salaries[0:11]
Data_scientist_salaries['max_salary']=max_salaries[0:11]
Data_scientist_salaries['ratings']=average_salaries[0:11]
Data_scientist_salaries['Average_salary']=no_of_salaries[0:11]
Data_scientist_salaries

                 company name min_salary max_salary ratings Average_salary
0                         IBM        ₹6L       ₹27L     3.9      ₹9,00,000
1   Tata Consultancy Services        ₹3L       ₹13L     3.9      ₹6,15,289
2                   Accenture        ₹6L       ₹22L       4     ₹11,63,336
3                   Delhivery        ₹5L       ₹1Cr     3.9     ₹12,18,244
4          Ericsson-Worldwide        ₹4L       ₹16L       4      ₹7,39,238
5          UnitedHealth Group        ₹8L       ₹15L     3.6     ₹13,00,000
6          Valiance Solutions        ₹5L       ₹15L     4.2      ₹8,63,750
7                 EXL Service        ₹6L       ₹15L     3.6     ₹11,10,000
8                       Optum        ₹8L       ₹20L     3.7     ₹14,23,677
9      Optum Global Solutions        ₹4L       ₹22L     3.9     ₹13,28,697
10              ZS Associates        ₹2L       ₹18L       4     ₹11,42,356

- Questions 6

In [74]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)

In [75]:
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('sunglasses')

button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

brand=[]
description=[]
price=[]
discount=[]

In [76]:
for page in range(0,5):
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

        

    brands=driver.find_elements_by_class_name('_2WkVRV')
    for i in brands:
        brand.append(i.text)
        
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in desc:
        description.append(i.text)
        
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
        
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in disc:
        discount.append(i.text)

In [77]:
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
df

,Brand,Description,Price,Discount
0,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹738,26% off
1,NuVew,UV Protection Aviator Sunglasses (58),₹215,72% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
3,ROYAL SON,"UV Protection, Gradient Over-sized Sunglasses ...",₹699,65% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹539,32% off
...,...,...,...,...
95,Elligator,"UV Protection, Gradient Butterfly, Shield Sung...",₹312,87% off
96,ROYAL SON,Gradient Rectangular Sunglasses (56),₹399,73% off
97,ROZZETTA CRAFT,"UV Protection, UV Protection Retro Square Sung...",₹399,85% off
98,IRUS by IDEE,UV Protection Wayfarer Sunglasses (Free Size),₹606,52% off
99,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (56),₹349,80% off

- Question 7

In [78]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [79]:
short_review=[]
complete_review=[]
stars=[]

for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    driver.get(url)
    
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        stars.append(j.text)
        
    for m in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(m.text)
        
    for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(a.text)

In [80]:
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

,Number of Stars,Short Review,Full Review
0,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
1,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
2,5,Highly recommended,What a camera .....just awesome ..you can feel...
3,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
4,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
...,...,...,...
95,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
96,4,Good choice,So far it’s been an AMAZING experience coming ...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
99,5,Perfect product!,It’s a must buy who is looking for an upgrade ...

- Question 8

In [81]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)

In [82]:
search_column=driver.find_element_by_class_name("_3704LK")
search_column.send_keys('sneakers')


button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

brand=[]
description=[]
price=[]
discount=[]

In [83]:
for page in range(0,4):
    next_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(next_button[1].get_attribute('href'))
    except:
        driver.get(next_button[0].get_attribute('href'))
    
    
    brands=driver.find_elements_by_class_name('_2WkVRV')
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
        
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in disc:
        discount.append(i.text)
        
 

urls = []

for page in range(0,4):
    
    product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        

for i in urls:
    driver.get(i)
    desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')
    for i in desc:
        description.append(i.text)

In [84]:
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
df

,Brand,Description,Price,Discount
0,Jack Diamond,"SM-322 Sneakers For Men (Navy, Yellow)",₹399,60% off
1,Jokatoo,Combo Pack of 5 Casual Shoes Loafers Sneakers ...,₹418,71% off
2,ASIAN,casual shoe for men Sneakers For Men (Blue),₹629,21% off
3,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹759,69% off
4,World Wear Footwear,Men's Ultraforce Mid-top Athletic-Inspired Ret...,₹240,51% off
...,...,...,...,...
95,Robbie jones,Combo Shoes Pack of 2 latest & Affordable casu...,₹499,54% off
96,REEBOK,Sneakers For Men (Blue),"₹1,047",35% off
97,U.S. POLO ASSN.,Streetballer Mid Sneakers For Men (Navy),"₹1,949",54% off
98,PUMA,"SM-360 Sneakers For Men (Red, Black)","₹1,360",47% off
99,Birde,Luxury Fashionable Breathable White shoes for ...,₹525,55% off

- Question 9

In [102]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.myntra.com/shoes%22"
driver.get(url)

In [103]:
price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()


black_color_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black_color_button.click()

shoe_names=[]
short_desc=[]
price=[]
page_urls = []
s_desc=[]

In [104]:
nxt_page = driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    

for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    for i in Names:
        shoe_names.append(i.text)
        
        
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    for i in desc:
        s_desc.append(i.text)
    #As, the s_desc list contain blank description in every alternate index, so removing the blank or null description
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
        
    rs=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in rs:
        price.append(i.text)

In [105]:
df=pd.DataFrame({'Brand': shoe_names[:100],
                 'Short-description': short_desc[:100],
                 'Price': price[:100]})
df

,Brand,Short-description,Price
0,ZAPATOZ,Women Walking Shoes,Rs. 599Rs. 999(40% OFF)
1,Sparx,Men Running Shoes,Rs. 1245Rs. 1399(11% OFF)
2,ALDO,Men Sneakers,Rs. 9999
3,one8 x PUMA,Men Dart IDP Sneakers,Rs. 2999Rs. 3999(25% OFF)
4,Sparx,Men Running Shoes,Rs. 986Rs. 1049(6% OFF)
...,...,...,...
95,Sparx,Men Running Shoes,Rs. 849
96,Reebok,Unisex Kids Woven Design Sneakers,Rs. 2549Rs. 3399(25% OFF)
97,HRX by Hrithik Roshan,Women Sneakers Casual Shoes,Rs. 1594Rs. 2899( 45 % OFF)
98,Kook N Keech,Women Solid Sneakers,Rs. 1574Rs. 3499(55% OFF)
99,Puma,Women T-Strap Flats,Rs. 2249Rs. 4499(50% OFF)

- Question 10

In [127]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.amazon.in/ref=nav_logo"
driver.get(url)

In [128]:
search_bar = driver.find_element_by_id("twotabsearchtextbox") 
search_bar.send_keys("laptops")    

search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')
search_button.click()

In [129]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [130]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [131]:
Title=[]
Ratings=[]
price=[]


titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

In [132]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
URL=[]
for i in urls[:10]:
    URL.append(i.get_attribute('href'))

    
    
for url in URL:
    driver.get(url)
    try:                                                  
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
        Ratings.append(rating.text)
        
    except NoSuchElementException:
        Ratings.append("NO rating")

In [133]:
df=pd.DataFrame({'Title':Title[:10],
                'Price':price[:10],
                'Ratings':Ratings[:10]})
df

                                               Title   Price       Ratings
0  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...  78,993    4 out of 5
1  HP Pavilion (2021) Thin & Light 11th Gen Core ...  84,126  4.5 out of 5
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,999  4.4 out of 5
3  Dell G3 3500 Gaming Laptop 15.6" (39.62cms) FH...  86,390  4.2 out of 5
4  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...  83,990    4 out of 5
5  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  40,932  3.7 out of 5
6  Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...  91,790  4.2 out of 5
7  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  46,322  3.2 out of 5
8  MSI GF63 Thin 10SCSR-019IN Intel Core i7-10750...  84,990  2.9 out of 5
9  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...  69,990  4.3 out of 5